
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.app-container{  
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: 1px solid rgb(98, 0, 255);
    padding:  3px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: scroll;
}

/* ----- 2 big sections ----------------- */

main{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(98, 0, 255);
}
aside{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(98, 0, 255);
    background-color: white;
    overflow: scroll;
}

/* ---- navbar --------------- */
#app-name {
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;   
}

li{
    list-style-type: none;
    margin: 20px 0;
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px
}

li:hover{
    background-color: rgb(98, 0, 255);
}


/* ------ main section ------ */
main{
    padding: 0 3px;
    display: flex;
    flex-direction: column;
}


.menu-container{
/*    border: 1px solid blue;*/
    background: white;
    box-shadow: 4px 4px 4px rgba(76, 227, 250, 0.5), -4px -4px 4px rgba(76, 227, 250, 0.5);
    flex: 1;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    border-radius: 10px;
    
}

.menu-item{
    border: 1px solid rgba(247, 76, 250, 0.5);
    margin: 3px 3px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-container::after{
    content: "";
    margin: 5px 10px ;
    height: 45%;
    width: 40%;
}

/* ------ menu subsection ---------- */


.menu-item img{
    height: 63%;
}

.info-wrapper{
    /* border: 1px solid red; */
    margin-bottom: 5px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.info-wrapper button{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    
}

.name-price{
    /* border: 1px solid purple; */
    height: 100%;
    margin: 0 10px;
    flex:1;
     
}

.name-price h5{
    margin: 0;
    margin-top: 3px;
    font-size: 11px;
}
.name-price h4{
    margin: 5px 0;
}

/* -- aside section -- */

aside{
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 2px;
    overflow: scroll;
}

aside h4 {
    margin: 0;
    margin-top: 10px;
    padding: 6px;
    background: rgb(0, 174, 255);
}
/* -- cart subsection -- */

.cart-list {
    background: rgb(98, 0, 255);
    flex: 1;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll; 
}

.cart-list .cart-item {
    box-sizing: border-box;
    background: white;
    width: 100%;
    height: 50px;
    padding: 5px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    gap: 2px;
   
}

.cart-item img {
    width: 20%;
    background: rgb(0, 174, 255);
}   

.cart-item .item-name {
/*    background: blue; */
    padding-left: 5px;
    flex: 1;
}

.cart-item button {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}
.item-name p {
    font-size: 70%;
}

.cart-item .item-price {
 /*   background: green; */
    width: 30%;
}

.item-price p {
    font-size: 70%;
}

.display {
    width: 100%;
    height: 30%;
   
}

.cost {
    box-sizing: border-box;
    background: rgb(98, 0, 255);
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
}

.cost .pricing {
    padding: 5px;
    background: white;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 3px; 
}

.charges .cost-title {
    color: gray;
    font-size: xx-small;
}

.charges .cost-value {
    font-size: small;
}

h4 {
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    background: rgb(0, 174, 255);
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.choose-form {
    display: flex;
    flex-direction: column;
}

.pay-method-card {
    display: flex;
    flex-direction: column;
    width: fit-content;   
    height: fit-content;
    background-color: lightgray;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
   
}

.card {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 15px;
    margin-top: 20px;
}

.pay-method-bank {
    display: flex;
    flex-direction: column;
    width: fit-content;   
    height: fit-content;
    background-color: lightgray;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
   
}

.bank {
    display: flex;
    flex-direction: column;
}

.bank-logo {
    display: flex;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    
}
@media (min-width: 767px) {
    .app-container{  
        max-width: 900px;
        max-height: 450px;
        background-color: whitesmoke;
        border: 1px solid rgb(98, 0, 255);
        padding:  10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow: scroll;
    }

    main{
        width: 60%;
        height: 100%;
        border: 2px solid rgb(98, 0, 255);
    }
    aside{
        width: 40%;
        height: 100%;
        border: 2px solid rgb(98, 0, 255);
        background-color: white;
        overflow: scroll;
    }

    .menu-item{        
        margin: 5px 10px ;
        height: 45%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .menu-item img{
        height: 63%;
        width: 63%;
    }

    aside h4 {
        margin-top: 65px;
    }
    .choose-form {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
/* :root{
    --main-color: orange;
    --sub-color: rgb(234, 229, 229);
    --third-color: rgb(20, 19, 19);

} */